'.source.golo': #TODO snipmain snipstru
# Main
  'main':
    'prefix': 'main'
    'body':"""
function main = |args| {
  ${1:someCode}
}
"""
# Structure
  'structure':
    'prefix': 'str'
    'body' : """
struct ${1:structureName} = {
  ${2:fieldName}
}
"""
